<template>
    <div id="app">
        <nav-bar />

        <posts-list />
        <toast position="ne" />
    </div>
</template>

<script>
  import { Toast } from 'vuex-toast'

  import NavBar from './components/ui/NavBar';
  import PostsList from './modules/Posts/PostsList/PostsList';


  export default {
    name: 'App',
    components: {
      PostsList,
      NavBar,
      Toast,
    },
  }
</script>
