<template>
    <div class="container">
        <div class="text-center" v-if="!posts.length">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div v-else>
            <div class="controls row">

                <div class="col">
                    <div class="form-group">
                        <label for="user-id-sort">user id sort</label>
                        <select class="form-control" id="user-id-sort" v-model="userIdSort">
                            <option value="0">
                                no sorting
                            </option>
                            <option value="-1">
                                high to low
                            </option>
                            <option value="1">
                                low to high
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="id-sort">ID sort</label>
                        <select class="form-control" id="id-sort" v-model="idSort">
                            <option value="0">
                                no sorting
                            </option>
                            <option value="-1">
                                high to low
                            </option>
                            <option value="1">
                                low to high
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div :key="post.id" class="post-row" v-for="post in sortedPosts">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.body}}</p>
                        <div class="d-flex justify-content-between">
                            <small>
                                userId: {{post.userId}}
                            </small>
                            <small>
                                ID: {{post.id}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import { POSTS_SYNC_LIST_ACTION, POSTS_LIST_GETTER } from '../store/constants';


  export default {
    name: 'PostsList',
    data: () => ({
      idSort: '0',
      userIdSort: '0',
    }),
    created() {
      this.syncPosts();
    },
    methods: {
      ...mapActions({
        syncPosts: POSTS_SYNC_LIST_ACTION,
      }),
    },
    computed: {
      ...mapGetters({
        posts: POSTS_LIST_GETTER,
      }),
      sortedPosts() {
        const idSort = Number.parseInt(this.idSort, 10);
        const userIdSort = Number.parseInt(this.userIdSort, 10);

        if (!idSort && !userIdSort) {
          return this.posts;
        }

        return [...this.posts].sort((el1, el2) => {
          if (userIdSort && el1.userId !== el2.userId) {
            return (el1.userId < el2.userId ? -1 : 1) * userIdSort;
          }

          if (idSort && el1.id !== el2.id) {
            return (el1.id < el2.id ? -1 : 1) * idSort;
          }

          return 0;
        });
      },
    },
  }
</script>

<style lang="scss" scoped>
    .post-row {
        margin-bottom: 20px;
    }
</style>
