<template>
    <div class="container navbar-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Vue Test</a>
        </nav>
    </div>
</template>

<script>
  export default {
    name: 'NavBar',
  }
</script>

<style lang="scss" scoped>
    .navbar-container {
        margin-bottom: 20px;
    }
</style>
